<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GPS_Out.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <GPS_Out.Properties.Settings>
            <setting name="FilesDir" serializeAs="String">
                <value />
            </setting>
            <setting name="FileName" serializeAs="String">
                <value>Default.rcs</value>
            </setting>
            <setting name="DayColour" serializeAs="String">
                <value>210, 220, 230</value>
            </setting>
            <setting name="GGA" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="RMC" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="VTG" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ZDA" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AutoConnect" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoHide" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseRollCorrected" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SendGSA" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Port" serializeAs="String">
                <value>Com1</value>
            </setting>
            <setting name="Baud" serializeAs="String">
                <value>57600</value>
            </setting>
            <setting name="SerialSuccessful" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EndPointAOG" serializeAs="String">
                <value>127.255.255.255</value>
            </setting>
            <setting name="EndPointAGIO" serializeAs="String">
                <value>127.255.255.255</value>
            </setting>
            <setting name="SentenceStart" serializeAs="String">
                <value>$GP</value>
            </setting>
        </GPS_Out.Properties.Settings>
    </userSettings>
</configuration>